ADMIN_PERM_ID=
DEPARTMENT_ID=
OLD_ES_SERVER=
ES_SERVER=
FLASK_ENV=
FLOWPLAYER_TOKEN=
FTP_DIR=
FTP_PASS=
FTP_SERVER=
FTP_USER=
KEYFRAME_EDITING_LINK=
MEDIAHAVEN_API=
MEDIAHAVEN_CLIENT=
MEDIAHAVEN_PASS=
MEDIAHAVEN_SECRET=
MEDIAHAVEN_USER=
NODE_OPTIONS=
OAS_APPNAME=
OAS_JWT_SECRET=
OBJECT_STORE_URL=
ONDERWIJS_PERM_ID=
SAML_ENV=
SECRET_KEY=
SPARQL_ENDPOINT=
SPARQL_PASS=
SPARQL_TOKEN=
SPARQL_USER=
TESTBEELD_PERM_ID=
PYTHONUNBUFFERED=
FLASK_DEBUG=

SPEECHMATIC_BASE_URL=
SPEECHMATIC_API_KEY=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

TICKET_SERVICE_VIDEO_PREFIX_STRIP=
TICKET_SERVICE_URL=
TICKET_SERVICE_CERT=
TICKET_SERVICE_KEY=
TICKET_SERVICE_PASSPHRASE=
TICKET_SERVICE_MAX_AGE=
MEDIA_SERVICE_URL=
