interactions:
- request:
    body: grant_type=password&client_id=client_id&client_secret=client_secret&username=test_userd&password=test_pass
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://archief-qas.viaa.be/auth/ropc.php
  response:
    body:
      string: '{"refresh_token":"test_refresh","token_type":"bearer","access_token":"test_token","expires_in":7200}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Correlation-ID:
      - 78359c25c83e3923768b38f28e1fadc9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/v2/records?q=%2B%28ExternalId%3Aqsxs5jbm5c%29
  response:
    body:
      string: '{"NrOfResults":1,"StartIndex":0,"TotalNrOfResults":1,"Results":[{"Technical":{"PronomId":"fmt/199","OriginalExtension":"mp4","DurationFrames":174,"EndFrames":174,"MimeType":"video/mp4","StartFrames":0,"Md5":"f85a9da375c74244e0b30705a6c55e69","VideoTechnical":"(unkown
        video codec) \u003cunknown\u003ex\u003cunknown\u003e (unkown video fps)fps
        (unkown video bit rate)bps","FileSize":2070953,"DurationTimeCode":"00:00:06.960","EndTimeCode":"00:00:06.960","StartTimeCode":"00:00:00.000","Width":null,"Height":null,"ImageSize":null,"ImageOrientation":null,"ImageQuality":null,"AudioTechnical":null,"VideoFormat":null,"Exif":{},"VideoCodec":null,"VideoFps":null,"VideoBitRate":null,"AudioCodec":null,"AudioChannels":null,"AudioSampleRate":null,"AudioBitRate":null,"AudioTracks":{},"BitRate":null,"Origin":null,"EssenceOffset":null,"EditUnitByteSize":null,"RunIn":null,"FramesPerEditUnit":null,"EditRate":null,"IndexEditRate":null},"Structural":{"HasChildren":false,"FragmentStartFrames":0,"FragmentStartTimeCode":"00:00:00.000","FragmentEndTimeCode":"00:00:06.960","FragmentDurationFrames":174,"FragmentDurationTimeCode":"00:00:06.960","FragmentEndFrames":174,"Versioning":{"Status":"Untracked","Version":1},"Collections":{"Collection":[]},"Sets":{"Set":[]},"Newspapers":{"Newspaper":[]},"Relations":{},"Fragments":{"Fragment":[]},"MainFragment":null,"ReferenceCodes":{},"ParentRecordId":null,"ReferenceTitles":{},"FieldDefinition":{},"PreviewRecordId":null},"Descriptive":{"CreationDate":"1937-01-01T00:00:00.000000Z","Description":"Optocht
        van kinderen met trommels en vlaggen naar grot, openluchtvergadering, pick-nick,
        plechtig lof.","OriginalFilename":"qsxs5jbm5c.mp4","RightsOwner":"DataHandler","UploadedBy":"bulkupload@testbeeld","KeyframeStart":83,"Title":"Meivaart
        der Antwerpsche Patronaten | De","CreationDateLegacy":null,"Rights":null,"Keywords":{"Keyword":[]},"Categories":{"Category":[]},"LimitedCategories":{},"Publisher":null,"Authors":{},"Location":null,"Address":{},"NonPreferredTerm":null,"Publications":{"Comment":[]},"OriginalPath":null,"Position":{}},"Dynamic":{"digitisation_format":"2K
        ( 2048x1556)","lom_languages":{"multiselect":["nl"]},"value_cp":"5 essential,
        HR digitisation","lom_keywords":{"Sleutelwoord":["Belgium","geschiedenis","reportage"]},"dc_source":"Meivaart
        der Antwerpsche Patronaten  De.mp4","type_viaa":"film","lom_vak":{"Vak":["https://w3id.org/onderwijs-vlaanderen/id/vak/frans","https://w3id.org/onderwijs-vlaanderen/id/vak/latijn","https://w3id.org/onderwijs-vlaanderen/id/vak/mens-en-maatschappij"]},"gauge":"16mm","dc_creators":{"Maker":["test
        maker"]},"lom_learningresourcetype":{"multiselect":["Video"]},"batch_pickup_date":"2015-11-09","created_on":"2015-08-20T16:08:08","dc_title":"Optocht","dcterms_abstract":"Optocht
        van kinderen met _trommels_ en **vlaggen**\n\n*   een\n*   twee","updated_by":"Victor
        De Vocht","image_sound":"image","premis":"\u003cpremis:premis version\u003d\"2.3\"
        xmlns:premis\u003d\"info:lc/xmlns/premis-v2\"\u003e\u003cpremis:event xmlns:premis\u003d\"info:lc/xmlns/premis-v2\"
        xmlns:mets\u003d\"http://www.loc.gov/METS/\" xmlns:revtmd\u003d\"http://nwtssite.nwts.nara/schema/\"
        xmlns:xlink\u003d\"http://www.w3.org/1999/xlink\" xmlns:xsi\u003d\"http://www.w3.org/2001/XMLSchema-instance\"\u003e\n\t\t\t\t\t\t\u003cpremis:eventIdentifier\u003e\n\t\t\t\t\t\t\t\u003cpremis:eventIdentifierType\u003eSP
        Event\u003c/premis:eventIdentifierType\u003e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/v2/records?q=%2B%28dc_relationsis_verwant_aan%3Aqsxs5jbm5c%29
  response:
    body:
      string: '{"NrOfResults":0,"StartIndex":0,"TotalNrOfResults":0,"Results":[]}'
    headers:
      Content-Type:
      - application/json
      X-Correlation-ID:
      - 043acab7a1180a91d30ca941cbfe4812
      X-RateLimit-Limit-day:
      - '2000'
      X-RateLimit-Limit-minute:
      - '150'
      X-RateLimit-Limit-second:
      - '25'
      X-RateLimit-Remaining-day:
      - '1919'
      X-RateLimit-Remaining-minute:
      - '145'
      X-RateLimit-Remaining-second:
      - '23'
    status:
      code: 200
      message: ''
version: 1
