interactions:
- request:
    body: grant_type=password&client_id=client_id&client_secret=client_secret&username=test_userd&password=test_pass
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://archief-qas.viaa.be/auth/ropc.php
  response:
    body:
      string: '{"refresh_token":"test_refresh","token_type":"bearer","access_token":"test_token","expires_in":7200}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Correlation-ID:
      - 2bd112c0317bfb197aed176ffdf36514
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/v2/records?q=%2B%28ExternalId%3Arandompid%29
  response:
    body:
      string: '{"NrOfResults":0,"StartIndex":0,"TotalNrOfResults":0,"Results":[]}'
    headers:
      Content-Type:
      - application/json
      X-Correlation-ID:
      - dd62aa801a9c70926b152bdd804e7297
      X-RateLimit-Limit-day:
      - '2000'
      X-RateLimit-Limit-minute:
      - '150'
      X-RateLimit-Limit-second:
      - '25'
      X-RateLimit-Remaining-day:
      - '1908'
      X-RateLimit-Remaining-minute:
      - '144'
      X-RateLimit-Remaining-second:
      - '24'
    status:
      code: 200
      message: ''
version: 1
