interactions:
- request:
    body: grant_type=password&client_id=client_id&client_secret=client_secret&username=test_userd&password=test_pass
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://archief-qas.viaa.be/auth/ropc.php
  response:
    body:
      string: '{"refresh_token":"test_refresh_token","token_type":"bearer","access_token":"test_token","expires_in":7200}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Correlation-ID:
      - db29e5be1ff4f65c672ffcbe0cb219dc
    status:
      code: 200
      message: OK
version: 1
