interactions:
- request:
    body: grant_type=password&client_id=client_id&client_secret=client_secret&username=test_userd&password=test_pass
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://archief-qas.viaa.be/auth/ropc.php
  response:
    body:
      string: '{"refresh_token":"test_refresh_token","token_type":"bearer","access_token":"test_token","expires_in":7200}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Correlation-ID:
      - ad76ab4a3e9c2a30eb0bd72fa6cfd336
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/v2/records?q=%2B%28dc_relationsis_verwant_aan%3Aqs5d8ncx8c%29
  response:
    body:
      string: "{\"NrOfResults\":2,\"StartIndex\":0,\"TotalNrOfResults\":2,\"Results\":[{\"Technical\":{\"PronomId\":\"fmt/1218\",\"OriginalExtension\":\"srt\",\"FileSize\":217,\"MimeType\":\"text/plain\",\"Md5\":\"ea7936571228b945a754f8fdcaf8da0a\",\"Width\":null,\"Height\":null,\"ImageSize\":null,\"ImageOrientation\":null,\"ImageQuality\":null,\"VideoTechnical\":null,\"AudioTechnical\":null,\"VideoFormat\":null,\"Exif\":{},\"DurationTimeCode\":null,\"StartTimeCode\":null,\"EndTimeCode\":null,\"DurationFrames\":null,\"StartFrames\":null,\"EndFrames\":null,\"VideoCodec\":null,\"VideoFps\":null,\"VideoBitRate\":null,\"AudioCodec\":null,\"AudioChannels\":null,\"AudioSampleRate\":null,\"AudioBitRate\":null,\"AudioTracks\":{},\"BitRate\":null,\"Origin\":null,\"EssenceOffset\":null,\"EditUnitByteSize\":null,\"RunIn\":null,\"FramesPerEditUnit\":null,\"EditRate\":null,\"IndexEditRate\":null},\"Structural\":{\"HasChildren\":false,\"FragmentStartFrames\":0,\"FragmentEndFrames\":0,\"Versioning\":{\"Status\":\"Untracked\",\"Version\":1},\"Collections\":{\"Collection\":[]},\"Sets\":{\"Set\":[]},\"Newspapers\":{\"Newspaper\":[]},\"Relations\":{},\"Fragments\":{\"Fragment\":[]},\"MainFragment\":null,\"FragmentDurationTimeCode\":null,\"FragmentStartTimeCode\":null,\"FragmentEndTimeCode\":null,\"FragmentDurationFrames\":null,\"ReferenceCodes\":{},\"ParentRecordId\":null,\"ReferenceTitles\":{},\"FieldDefinition\":{},\"PreviewRecordId\":null},\"Descriptive\":{\"CreationDate\":\"2021-06-03T15:16:41.000000Z\",\"UploadedBy\":\"bulkupload@testbeeld\",\"KeyframeStart\":0,\"Description\":\"Subtitles
        for item qs5d8ncx8c\",\"OriginalFilename\":\"qs5d8ncx8c_open.srt\",\"Title\":\"qs5d8ncx8c_open.srt\",\"RightsOwner\":\"\xA9
        testbeeld\",\"CreationDateLegacy\":null,\"Rights\":null,\"Keywords\":{\"Keyword\":[]},\"Categories\":{\"Category\":[]},\"LimitedCategories\":{},\"Publisher\":null,\"Authors\":{},\"Location\":null,\"Address\":{},\"NonPreferredTerm\":null,\"Publications\":{\"Comment\":[]},\"OriginalPath\":null,\"Position\":{}},\"Dynamic\":{\"dc_relations\":{\"is_verwant_aan\":[\"qs5d8ncx8c\"]},\"sp_name\":\"borndigital\",\"lom_legacy\":\"true\",\"PID\":\"qs5d8ncx8c_open\",\"CP\":\"testbeeld\",\"dc_rights_licenses\":{\"multiselect\":[\"VIAA-ONDERWIJS\",\"VIAA-ONDERZOEK\",\"VIAA-INTRA_CP-CONTENT\",\"VIAA-INTRA_CP-METADATA-ALL\",\"VIAA-PUBLIEK-METADATA-LTD\"]},\"CP_id\":\"OR-h41jm1d\",\"NeedsPublicationDateMigration\":\"true\"},\"Administrative\":{\"LastModifiedDate\":\"2022-02-04T09:15:38.654000Z\",\"IsSynchronized\":false,\"IsOriginal\":true,\"OrganisationName\":\"testbeeld\",\"Workflow\":\"borndigital\",\"IsPreservation\":false,\"DepartmentName\":\"testbeeld\",\"UserLastModifiedDate\":\"2022-02-04T09:15:38.654000Z\",\"ArchiveDate\":\"2021-06-03T15:16:43.102000Z\",\"OrganisationLongName\":\"testbeeld\",\"RecordType\":\"Record\",\"RecordStatus\":\"Published\",\"IsAccess\":false,\"PublicationDate\":\"2021-09-15T10:02:52.016000Z\",\"ExternalId\":\"qs5d8ncx8c_open\",\"DeleteStatus\":\"NotDeleted\",\"Type\":\"document\",\"MainRecordType\":\"Record\",\"OrganisationExternalId\":\"OR-h41jm1d\",\"ExternalUrl\":null,\"IngestTape\":null,\"LogicalDeletionDate\":null,\"ChildOrderFields\":{},\"RejectionDate\":null,\"ExternalUse\":null},\"Internal\":{\"OriginalStatus\":\"completed\",\"PathToKeyframe\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"IsFragment\":false,\"PathToPreview\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"UploadedById\":\"ff111a7a-efd0-44e3-8816-0905572421da\",\"HasKeyframes\":false,\"MediaObjectId\":\"f6c85673050f4c8986e022805b03a13dd0f5c6f03f164754a29e37c8a112d2c3\",\"ArchiveStatus\":\"on_disk\",\"BrowseStatus\":\"no_browse\",\"RecordId\":\"f6c85673050f4c8986e022805b03a13dd0f5c6f03f164754a29e37c8a112d2c3\",\"IsInIngestSpace\":false,\"OrganisationId\":\"111\",\"FragmentId\":\"f6c85673050f4c8986e022805b03a13dd0f5c6f03f164754a29e37c8a112d2c3fb608c8363ac4a21b461d080df6a4326\",\"PathToKeyframeThumb\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"ContainsGeoData\":false,\"DepartmentId\":\"dd111b7a-efd0-44e3-8816-0905572421da\",\"IngestSpaceId\":null,\"PathToVideo\":null,\"Browses\":{},\"Distributions\":{\"Distribution\":[]},\"Profiles\":{}},\"RightsManagement\":{\"Permissions\":{\"Write\":[\"dd111b7a-efd0-44e3-8816-0905572421da\",\"b75571b1-d7a3-4d6f-939e-deb345c1078a\"],\"Export\":[\"dd111b7a-efd0-44e3-8816-0905572421da\",\"b75571b1-d7a3-4d6f-939e-deb345c1078a\"],\"Read\":[\"dd111b7a-efd0-44e3-8816-0905572421da\",\"26276bde-be5f-4e17-a40a-49dceb722c64\",\"b75571b1-d7a3-4d6f-939e-deb345c1078a\"]},\"ExpiryDate\":null,\"ExpiryStatus\":null,\"Zone\":{}},\"Context\":{\"IsEditable\":true,\"IsDeletable\":true,\"IsPublic\":false,\"IsExportable\":true,\"Profiles\":[]}},{\"Technical\":{\"PronomId\":\"fmt/1218\",\"OriginalExtension\":\"srt\",\"FileSize\":192,\"MimeType\":\"text/plain\",\"Md5\":\"761ba5c45a4c53874914cdb555f2dc58\",\"Width\":null,\"Height\":null,\"ImageSize\":null,\"ImageOrientation\":null,\"ImageQuality\":null,\"VideoTechnical\":null,\"AudioTechnical\":null,\"VideoFormat\":null,\"Exif\":{},\"DurationTimeCode\":null,\"StartTimeCode\":null,\"EndTimeCode\":null,\"DurationFrames\":null,\"StartFrames\":null,\"EndFrames\":null,\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://archief-media-qas.viaa.be/viaa/MOB/TESTBEELD/90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc/90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc.srt
  response:
    body:
      string: "\uFEFF1\r\n00:00:01,000 --> 00:00:03,023\r\nTweede subtitle test\r\n\r\n2\r\n00:00:03,676
        --> 00:00:15,930\r\nGewone tekst hier\r\n\r\n3\r\n00:00:16,972 --> 00:50:16,350\r\nGewone
        tekst hier 50 minuten lang ;)\r\n\r\n\r\n"
    headers:
      Content-Type:
      - application/x-binary
      Etag:
      - '"a90fa4375577a6b963dbc766da7f82c0"'
      Last-Modified:
      - Wed, 27 Jan 2021 10:31:13 GMT
      Volume:
      - db6e50bba2c2ee4692226c8a0292137d
      X-Correlation-ID:
      - 4baa25b0ce3c26351f1240fcde76ef9c
      x-viaa-meta-cpid:
      - OR-h41jm1d
      x-viaa-meta-duration:
      - None
      x-viaa-meta-externalid:
      - qs5d8ncx8c_closed
      x-viaa-meta-noid:
      - qs5d8ncx8c_closed
      x-viaa-meta-umid:
      - 90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc
      x-viaa-meta-version:
      - '20.3'
    status:
      code: 200
      message: OK
version: 1
