.icon {
  vertical-align: middle;
  display: inline;
}

.navbar-item .icon {
  margin-right: 20px;
}

.main {
  margin-top: 100px;
}

.help.is-danger {
  color: #c2324f;
}

.button.is-small:not(.is-rounded) {
    border-radius: 4px;
}

.button.is-danger {
  background-color: #c2324f;
}

.is-danger.input, .is-danger.textarea {
  border-color: #c2324f;
}
