
<!-- injected from git branch SHA 0ea32d03 -->
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.ac5b10c9.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.ac5b10c9.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/css/app.b7f7662c.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/app.b7f7662c.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/js/chunk-vendors.84d9dc4d.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='vue/js/app.ed93c242.js') }}" rel="preload" as="script">
