
<!-- injected from git branch SHA 361d94cc -->
<link href="{{ url_for('static', filename='vue/css/app.a025ff9c.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/app.a025ff9c.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/js/chunk-vendors.f0772c5b.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='vue/js/chunk-vendors-legacy.74dd3931.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='vue/js/app.7347a99d.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='vue/js/app-legacy.c4a85bf1.js') }}" rel="preload" as="script">
