
<!-- injected from git branch SHA f7dc2ca3 -->
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.a902fd7e.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.a902fd7e.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/css/app.b7f7662c.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/app.b7f7662c.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/js/chunk-vendors.84d9dc4d.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='vue/js/app.3aa82fd6.js') }}" rel="preload" as="script">
