
<!-- injected from git branch SHA 361d94cc -->
<script type="text/javascript" src="{{ url_for('static', filename='vue/js/chunk-vendors.f0772c5b.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vue/js/chunk-vendors-legacy.74dd3931.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vue/js/app.7347a99d.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vue/js/app-legacy.c4a85bf1.js') }}"></script>
