{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitels toevoegen
{% endblock %}

{% block content %}


<div class="center_page">
<h1 class="title">Zoek een item op</h1>
  <p>
   <form action="/search_media" method="POST">
      <div class="field">
        <label class="label">Tenant</label>
        <div class="control">
          <div class="select">
            <select name="department" id="tenant">
              <option value="testbeeld">Testbeeld</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Geef een pid in</label>
        <div class="control">
          <input id="pid_search" class="input" type="text" name="pid" placeholder="Item pid" autofocus/>
        </div>
      </div>
      <input type="hidden" value="yes" name="redirect_subtitles" id="redirect_subtitles"/>

      {% if SHOW_DEBUG_PIDS %}
        <fieldset class="debug-pids">
          <legend>Test pids voor Mediahaven QAS</legend>
          <ul class="debug-pids">
            <li> <a onclick="document.getElementById('pid_search').value='qs5d8ncx8c';">qs5d8ncx8c - video</a></li>
            <li> <a onclick="document.getElementById('pid_search').value='qsxs5jbm5c';">qsxs5jbm5c - video</a></li>
            <li> <a onclick="document.getElementById('pid_search').value='416sx8rc0n';">416sx8rc0n - video</a></li>
            <li> <a onclick="document.getElementById('pid_search').value='qsf7664p39';">qsf7664p39 - video</a></li>
            <li> <a onclick="document.getElementById('pid_search').value='qswd3px267';">qswd3px267 - audio</a></li>
            <li> <a onclick="document.getElementById('pid_search').value='qs9w08xb3p';">qs9w08xb3p - (legacy onderwijs)</a></li>
            <li> <a onclick="document.getElementById('pid_search').value='qsdz030657';">qsdz030657 - (14 cp keywords)</a></li>
          </ul>
        </fieldset>
      {% endif %}


      {% include 'includes/flash_errors.html' %}
      
      <div class="buttons pt-2">
        <input 
          id="btn_metadata_bewerken"
          name="action"
          class="button is-primary is-pulled-left"
          type="submit" 
          value="Metadata bewerken"
          onclick="pidSubmitForMetadata(this);"
        />

        <input 
          id="btn_ondertitels_toevoegen"
          name="action"
          class="button is-primary is-pulled-right ml-4"
          type="submit" 
          value="Ondertitels toevoegen"
          onclick="pidSubmitForSubtitles(this);"
        />

      </div>
  </form>

  </p>
</div>


{% endblock %}
